In [ ]:
#IMPORTARE UN DB ESTERNO MYSQL 
import os
import dotenv 
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(dotenv_path="adv_sql.env", override=True,) #carica il file env

username = os.getenv("username") #credenziali
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}" # stringa di connessione
db_engine = sqlalchemy.create_engine(connection_string) #connessione al db

query = "SELECT * FROM dimproduct"
df = pd.read_sql(query,db_engine)
df

In [ ]:
#ESERCIZIO1: estrarre la tabella dimproduct dal database AdventureWorks e valutare quanto segue:
''' quanti dati ci sono in totale?
    quali sono i metadati?
    stampare il primo elemento / l'ultimo elemento
    stampare cinque elementi a caso
    quali sono i colori disponibili? '''

query = "SELECT * FROM dimproduct"
df = pd.read_sql(query,db_engine)

print(df.shape) #dimensione dataset
df.info() #anteprima

print(df.head(1)) #primo elemento
print(df.tail(1)) #ultimo elemento
display(df.sample(5)) #cinque elementi a caso

colori = df["Color"].unique() #valori unici per il colore

print(colori)

In [ ]:
#ESERCIZIO1: estrarre la tabella dimproduct dal database AdventureWorks e valutare quanto segue:
''' in media, quanto pesano i prodotti?
    quanto pesa il più leggero?
    quanto pesa il più pesante?
    quanti prodotti pesano più di 100?
    quanto costano in media i prodotti? (dealerprice)
    quali sono i quartili dei prezzi? '''

print(df["Weight"].describe()) #media di 56.2

leggero = df["Weight"].sort_values(ascending = True) #ordinamento valori crescenti peso
print(leggero.head(15))

pesante = df["Weight"].sort_values(ascending = False) #ordinamento valori discendenti peso
print(pesante.head(15))

filtro2 = df.loc[:, "Weight"]>100 #filtro peso maggiore a 100
print(df["Weight"].loc[filtro2])

print(df["DealerPrice"].describe()) #media costo prodotti

print(df["ListPrice"].describe()) #quartili prezzi

In [ ]:
#ESERCIZIO1: estrarre la tabella dimproduct dal database AdventureWorks e valutare quanto segue:
''' qual è il prezzo medio per i prodotti di colore blu? 
    qual è il prezzo medio per i prodotti di colore rosso o nero? 
    qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg? 
    qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento? 
    visualizzare lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: 
        quali sono le differenze? c'è un pattern? c'è qualche elemento che non lo segue? '''

filtro3 = df.loc[:, "Color"] == "Blue" #filtro prodotti di colore blu
blue = df["ListPrice"].loc[filtro2] #filtro costo dei prodotti filtrati

print(blue.describe()) #prezzo medio dei prodotti filtrati 

filtro4 = df.loc[:, "Color"] == "Red" #filtro prodotti di colore rosso
filtro5 = df.loc[:, "Color"] == "Black" #filtro prodotti di colore nero
filtro6 = filtro4 | filtro5 #congiunzione OR per i filtri
products = df["ListPrice"].loc[filtro6] #filtro costo dei prodotti filtrati

print(products.describe()) #prezzo medio dei prodotti filtrati 

filtro7 = df.loc[:, "Size"] == "42" #filtro prodotti di misura 42, va scritto come stringa perché è un object
filtro8 = df.loc[:, "Weight"] > 10 #filtro prodotti di peso maggiore a 10 
filtro9 = filtro7 & filtro8 #congiunzione AND per i filtri
products2 = df["ListPrice"].loc[filtro9] #filtro costo sui prodotti filtrati

print(products2.describe()) #prezzo massimo dei prodotti filtrati

filtro10 = df.loc[:, "Color"] == "Silver" #filtro prodotti di colore argento
filtro11 = filtro7 & filtro8 & filtro10 #congiunzione AND per i filtri
names = df["EnglishProductName"].loc[filtro11] #filtro nomi sui prodotti filtrati
costs = df["StandardCost"].loc[filtro11] #filtro costo sui prodotti filtrati

print(names) #stampa nomi dei prodotti filtrati
print(costs) #stampa costo dei prodotti filtrati


print(df["StandardCost"].tail(20)) #stampa ultimi 20 elementi costo
print(df["DealerPrice"].tail(20)) #stampa utimi 20 elementi costo

In [4]:
#ESERCIZIO2: SELEZIONARE IL DATASET amazon.csv, che contiene una serie di recensioni su Amazon
''' valutare la dimensione del dataset 
    visualizziamo dieci righe a caso 
    osserviamo quali sono i nomi di colonna 
    il dataset è bilanciato? il numero di recensioni positive è uguale a quello delle negative o no? '''

import pandas as pd
url = "dataset/amazon.csv"
df = pd.read_csv(url)

print(df.shape) #dimensione dataset
print(df.sample(10)) #stampa 10 righe casuali
print(df.columns) #stampa nomi colonne

positive = df.loc[:, "Positive"] == 1 #filtro recensioni positive/negative

print(positive.value_counts()) #stampa numero valori recensioni p/n
#il dataset non è bilanciato, ci sono più recensioni positive che negative

(20000, 2)
                                              reviewText  Positive
17703  Lots of options and ways to increase and\/or d...         1
4620   I like playing Duchenne but there was somethin...         0
10432  Similar to the other uken games. Great support...         1
9379   Unfortunately you cannot download it from the ...         1
16909  This program (the Plex system), is simply one ...         1
2696   Such a treasure of an app found amongst so muc...         1
2270   If you grew up enjoying UNO then you'll enjoy ...         1
12099  This is a great app to use for just about anyt...         1
5166   I am an animal rescue and often have to give d...         1
11717  YES, this has gotten me up on time for the las...         1
Index(['reviewText', 'Positive'], dtype='object')
Positive
True     15233
False     4767
Name: count, dtype: int64

In [5]:
#ESERCIZIO3: SELEZIONARE IL DATASET diabetes.csv, che raccoglie persone con diabete o meno, 
# e il valore di diverse variabili fisiologiche dei pazienti
''' osservare le dimensioni e un'anteprima di cinque righe
    dare un'occhiata ai metadati delle colonne 
    stampare dei descrittori statistici del dataset 
    selezionare i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50 
    qual è la media della pressione sanguigna diastolica per le diverse fasce di età? '''

import pandas as pd
url = "dataset/diabetes.csv"
df = pd.read_csv(url)

print(df.shape) #dimensioni
print(df.head(5)) #anteprima 5 righe

df.info() #panoramica concisa del dataset
df.describe() #statistiche descrittive del dataset
print(df.columns) #nomi colonne

#PRIMA FASCIA D'ETA'
eta1 = df.loc[:, "Age (years)"] >=20 #filtro1 che seleziona l'età sopra i 20 anni
eta1_1 = df.loc[:, "Age (years)"] <=29 #filtro2 che seleziona l'età sotto i 29 anni
fascia1 = eta1 & eta1_1 #fascia d'età che seleziona tra i 20 e i 29 anni

dati_fascia1 = df.loc[fascia1] #dati relativi alla prima fascia 
media_pressione1 = df["Diastolic blood pressure (mm Hg)"].loc[fascia1] #filtro pressione sanguigna in base all'età

#SECONDA FASCIA D'ETA'
eta2 = df.loc[:, "Age (years)"] >=30 
eta2_1 = df.loc[:, "Age (years)"] <=39 
fascia2 = eta2 & eta2_1 

dati_fascia2 = df.loc[fascia2] 
media_pressione2 = df["Diastolic blood pressure (mm Hg)"].loc[fascia2] 

#TERZA FASCIA D'ETA'
eta3 = df.loc[:, "Age (years)"] >=40 
eta3_1 = df.loc[:, "Age (years)"] <=50
fascia3 = eta3 & eta3_1 

dati_fascia3 = df.loc[fascia3] 
media_pressione3 = df["Diastolic blood pressure (mm Hg)"].loc[fascia3] 

#STAMPE DATI E MEDIE
print(dati_fascia1.sort_values("Age (years)", ascending=True)) #FASCIA 1
print(media_pressione1.describe())

print(dati_fascia2.sort_values("Age (years)", ascending=True)) #FASCIA 2
print(media_pressione2.describe()) 

print(dati_fascia3.sort_values("Age (years)", ascending=True)) #FASCIA 3
print(media_pressione3.describe())

(768, 9)
   Number of times pregnant  \
0                         6
1                         1
2                         8
3                         1
4                         0

   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
0                                                148
1                                                 85
2                                                183
3                                                 89
4                                                137

   Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
0                                72                                35
1                                66                                29
2                                64                                 0
3                                66                                23
4                                40                                35

   2-Hour serum insulin (mu U/ml)  \
0                               0
1                               0
2                               0
3                              94
4                             168

   Body mass index (weight in kg/(height in m)^2)  Diabetes pedigree function  \
0                                            33.6                       0.627
1                                            26.6                       0.351
2                                            23.3                       0.672
3                                            28.1                       0.167
4                                            43.1                       2.288

   Age (years)  Class variable
0           50               1
1           31               0
2           32               1
3           21               0
4           33               1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')
     Number of times pregnant  \
3                           1
738                         2
721                         1
713                         0
566                         1
..                        ...
195                         5
687                         1
138                         0
23                          9
7                          10

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
3                                                   89
738                                                 99
721                                                114
713                                                134
566                                                 99
..                                                 ...
195                                                158
687                                                107
138                                                129
23                                                 119
7                                                  115

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
3                                  66                                23
738                                60                                17
721                                66                                36
713                                58                                20
566                                72                                30
..                                ...                               ...
195                                84                                41
687                                50                                19
138                                80                                 0
23                                 80                                35
7                                   0                                 0

     2-Hour serum insulin (mu U/ml)  \
3                                94
738                             160
721                             200
713                             291
566                              18
..                              ...
195                             210
687                               0
138                               0
23                                0
7                                 0

     Body mass index (weight in kg/(height in m)^2)  \
3                                              28.1
738                                            36.6
721                                            38.1
713                                            26.4
566                                            38.6
..                                              ...
195                                            39.4
687                                            28.3
138                                            31.2
23                                             29.0
7                                              35.3

     Diabetes pedigree function  Age (years)  Class variable
3                         0.167           21               0
738                       0.453           21               0
721                       0.289           21               0
713                       0.352           21               0
566                       0.412           21               0
..                          ...          ...             ...
195                       0.395           29               1
687                       0.181           29               0
138                       0.703           29               0
23                        0.263           29               1
7                         0.134           29               0

[396 rows x 9 columns]
count    396.000000
mean      65.348485
std       19.138794
min        0.000000
25%       60.000000
50%       68.000000
75%       76.000000
max      122.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64
     Number of times pregnant  \
5                           5
10                          4
126                         3
52                          5
256                         3
..                        ...
478                         8
499                         6
744                        13
570                         3
756                         7

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
5                                                  116
10                                                 110
126                                                120
52                                                  88
256                                                111
..                                                 ...
478                                                126
499                                                154
744                                                153
570                                                 78
756                                                137

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
5                                  74                                 0
10                                 92                                 0
126                                70                                30
52                                 66                                21
256                                56                                39
..                                ...                               ...
478                                74                                38
499                                74                                32
744                                88                                37
570                                70                                 0
756                                90                                41

     2-Hour serum insulin (mu U/ml)  \
5                                 0
10                                0
126                             135
52                               23
256                               0
..                              ...
478                              75
499                             193
744                             140
570                               0
756                               0

     Body mass index (weight in kg/(height in m)^2)  \
5                                              25.6
10                                             37.6
126                                            42.9
52                                             24.4
256                                            30.1
..                                              ...
478                                            25.9
499                                            29.3
744                                            40.6
570                                            32.5
756                                            32.0

     Diabetes pedigree function  Age (years)  Class variable
5                         0.201           30               0
10                        0.191           30               0
126                       0.452           30               0
52                        0.342           30               0
256                       0.557           30               0
..                          ...          ...             ...
478                       0.162           39               0
499                       0.839           39               0
744                       1.174           39               0
570                       0.270           39               0
756                       0.391           39               0

[165 rows x 9 columns]
count    165.000000
mean      69.666667
std       20.327302
min        0.000000
25%       65.000000
50%       74.000000
75%       80.000000
max      110.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64
     Number of times pregnant  \
44                          7
184                         4
128                         1
95                          6
193                        11
..                        ...
618                         9
614                        11
548                         1
473                         7
749                         6

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
44                                                 159
184                                                141
128                                                117
95                                                 144
193                                                135
..                                                 ...
618                                                112
614                                                138
548                                                164
473                                                136
749                                                162

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
44                                 64                                 0
184                                74                                 0
128                                88                                24
95                                 72                                27
193                                 0                                 0
..                                ...                               ...
618                                82                                24
614                                74                                26
548                                82                                43
473                                90                                 0
749                                62                                 0

     2-Hour serum insulin (mu U/ml)  \
44                                0
184                               0
128                             145
95                              228
193                               0
..                              ...
618                               0
614                             144
548                              67
473                               0
749                               0

     Body mass index (weight in kg/(height in m)^2)  \
44                                             27.4
184                                            27.6
128                                            34.5
95                                             33.9
193                                            52.3
..                                              ...
618                                            28.2
614                                            36.1
548                                            32.8
473                                            29.9
749                                            24.3

     Diabetes pedigree function  Age (years)  Class variable
44                        0.294           40               0
184                       0.244           40               0
128                       0.403           40               1
95                        0.255           40               0
193                       0.578           40               1
..                          ...          ...             ...
618                       1.282           50               1
614                       0.557           50               1
548                       0.341           50               0
473                       0.210           50               0
749                       0.178           50               1

[126 rows x 9 columns]
count    126.000000
mean      74.214286
std       18.593163
min        0.000000
25%       68.000000
50%       76.000000
75%       83.500000
max      114.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [3]:
#ESERCIZIO4: SELEZIONARE IL DATASET insurance.csv, che contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, 
# rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute
''' visualizzare le dimensioni, un'anteprima, e osservare i nomi di colonna 
    quali sono le medie di charges rispetto a region? ci sono differenze significative?
    e rispetto a smoker? e a sex? 
    quali sono i descrittori statistici di bmi? quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
    '''

import pandas as pd
url = "dataset/insurance.csv"
df = pd.read_csv(url)

print(df.shape) #dimensioni
df.info() #anteprima
print(df.columns) #nomi di colonne

df.sample(30)

(1338, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

      age     sex     bmi  children smoker     region      charges
708    31  female  30.495         3     no  northeast   6113.23105
1193   48  female  36.575         0     no  northwest   8671.19125
1277   32  female  29.735         0     no  northwest   4357.04365
1129   19  female  18.600         0     no  southwest   1728.89700
471    18  female  30.115         0     no  northeast   2203.47185
1266   55  female  30.500         0     no  southwest  10704.47000
1307   32    male  28.120         4    yes  northwest  21472.47880
1275   57    male  23.700         0     no  southwest  10959.33000
1028   54    male  31.600         0     no  southwest   9850.43200
33     63    male  28.310         0     no  northwest  13770.09790
543    54  female  47.410         0    yes  southeast  63770.42801
288    59  female  36.765         1    yes  northeast  47896.79135
1288   20    male  39.400         2    yes  southwest  38344.56600
928    62  female  39.160         0     no  southeast  13470.80440
458    56    male  39.600         0     no  southwest  10601.41200
561    54  female  32.680         0     no  northeast  10923.93320
322    34    male  30.800         0    yes  southwest  35491.64000
930    26    male  46.530         1     no  southeast   2927.06470
1260   32  female  20.520         0     no  northeast   4544.23480
1136   44  female  25.000         1     no  southwest   7623.51800
330    61  female  36.385         1    yes  northeast  48517.56315
842    23  female  32.780         2    yes  southeast  36021.01120
873    43    male  30.100         1     no  southwest   6849.02600
786    60    male  36.955         0     no  northeast  12741.16745
90     21  female  39.490         0     no  southeast   2026.97410
736    37  female  38.390         0    yes  southeast  40419.01910
248    19    male  20.900         1     no  southwest   1832.09400
15     19    male  24.600         1     no  southwest   1837.23700
768    64  female  39.700         0     no  southwest  14319.03100
148    53  female  37.430         1     no  northwest  10959.69470

In [ ]:

#ESERCIZIO4: SELEZIONARE IL DATASET insurance.csv, che contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, 
# rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute
''' visualizzare le dimensioni, un'anteprima, e osservare i nomi di colonna 
    quali sono le medie di charges rispetto a region? ci sono differenze significative?
    e rispetto a smoker? e a sex? 
    quali sono i descrittori statistici di bmi? quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
    '''

#CHARGES RISPETTO A REGION
print(df["region"].unique()) #vedo quante aree ci sono

area1 = df.loc[:, "region"] == "southwest"
area2 = df.loc[:, "region"] == "southeast"
area3 = df.loc[:, "region"] == "northwest"
area4 = df.loc[:, "region"] == "northeast"

charges_area1 = df["charges"].loc[area1] 
charges_area2 = df["charges"].loc[area2]
charges_area3 = df["charges"].loc[area3]
charges_area4 = df["charges"].loc[area4]

print(charges_area1.describe()) #media di charges rispetto ad ogni area
print(charges_area2.describe()) 
print(charges_area3.describe()) 
print(charges_area4.describe()) 
#le medie di charges sono pressocché simili tra le regioni'''

In [ ]:

#ESERCIZIO4: SELEZIONARE IL DATASET insurance.csv, che contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, 
# rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute
''' visualizzare le dimensioni, un'anteprima, e osservare i nomi di colonna 
    quali sono le medie di charges rispetto a region? ci sono differenze significative?
    e rispetto a smoker? e a sex? 
    quali sono i descrittori statistici di bmi? quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
    '''

#CHARGES RISPETTO A SMOKER
s_yes = df.loc[:, "smoker"] == "yes"
s_no = df.loc[:, "smoker"] == "no"
charges_yes = df["charges"].loc[s_yes]
charges_no = df["charges"].loc[s_no]

print(charges_yes.describe())
print(charges_no.describe())
#le medie sono molto diverse, i fumatori hanno una media di 32050, i non fumatori hanno una media di 8434

In [ ]:
#ESERCIZIO4: SELEZIONARE IL DATASET insurance.csv, che contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, 
# rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute
''' visualizzare le dimensioni, un'anteprima, e osservare i nomi di colonna 
    quali sono le medie di charges rispetto a region? ci sono differenze significative?
    e rispetto a smoker? e a sex? 
    quali sono i descrittori statistici di bmi? quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
    '''

#CHARGES RISPETTO A SEX
f = df["sex"] == "female"
m = df["sex"] == "male"
charges_f = df["charges"].loc[f]
charges_m = df["charges"].loc[m]

print(charges_f.describe())
print(charges_m.describe())
#le medie sono pressocché simili tra loro

In [ ]:

#ESERCIZIO4: SELEZIONARE IL DATASET insurance.csv, che contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, 
# rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute
''' visualizzare le dimensioni, un'anteprima, e osservare i nomi di colonna 
    quali sono le medie di charges rispetto a region? ci sono differenze significative?
    e rispetto a smoker? e a sex? 
    quali sono i descrittori statistici di bmi? quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
    '''

#DESCRITTORI STATISTICI BMI
print(df["bmi"].describe())

#FASCE QUARTILI
quartile1 = df.loc[:, "bmi"] >=15.96
quartile1_1 = df.loc[:, "bmi"] <26.29
fasciaq_1 = quartile1 & quartile1_1
charges_q1 = df["charges"].loc[fasciaq_1]

quartile2 = df.loc[:, "bmi"] >=26.29
quartile2_1 = df.loc[:, "bmi"] <30.40
fasciaq_2 = quartile2 & quartile2_1
charges_q2 = df["charges"].loc[fasciaq_2]

quartile3 = df.loc[:, "bmi"] >=30.40
quartile3_1 = df.loc[:,"bmi"] <34.69
fasciaq_3 = quartile3 & quartile3_1
charges_q3 = df["charges"].loc[fasciaq_3]

quartile4 = df.loc[:, "bmi"] >=34.69
quartile4_1 = df.loc[:, "bmi"] <=53.13
fasciaq_4 = quartile4 & quartile4_1
charges_q4 = df["charges"].loc[fasciaq_4]

print(charges_q1.describe())
print(charges_q2.describe())
print(charges_q3.describe())
print(charges_q4.describe())

In [ ]:
#ESERCIZIO5: SELEZIONARE IL DATASET pokemon.csv, che contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari
''' verificare le dimensioni, un'anteprima, e osservare i nomi di colonna 
    è verosimile che la prima colonna dovrebbe essere un indice?
    confrontarlo con l'indice messo automaticamente da Pandas: combaciano?
    se no, settare la prima colonna come indice '''

import pandas as pd
url = "dataset/pokemon.csv"
df = pd.read_csv(url)

print(df.shape)
df.info()
df.describe()
print(df.columns)

print(df["#"])
df.set_index("#")

In [ ]:
#ESERCIZIO5: SELEZIONARE IL DATASET pokemon.csv
''' quali sono i Pokémon leggendari? 
    e quali sono i leggendari di tipo 1 Grass? 
    e leggendari di tipo 1 Ice o Fire? 
    trasformare la colonna Name nell'indice 
    quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
'''

filtro_legendary = df.loc[:, "Legendary"] == True
df["Name"].loc[filtro_legendary]

type1_g = df.loc[:, "Type 1"] == "Grass"
filtro_l_g = filtro_legendary & type1_g

df["Name"].loc[filtro_l_g]

type1_i = df.loc[:, "Type 1"] == "Ice"
type1_f = df.loc[:, "Type 1"] == "Fire"
filtro_i_f = type1_i | type1_f
filtro_l_i_f = filtro_legendary & filtro_i_f
df["Name"].loc[filtro_l_i_f]

df.set_index("Name")

filtro_generation = df.loc[:, "Generation"] == 1
filtro_attacco = df.loc[:, "Attack"] >50
filtro_hp = df.loc[:, "HP"] <60
filtro_finale = filtro_generation & filtro_attacco & filtro_hp

df["Name"].loc[filtro_finale]