In [ ]:
#ESERCIZIO1: che tipo di struttura dati o matematica potrebbe rappresentare? 
#Tutte le liste interne sono della stessa dimensione
#come facciamo per accedere ad un elemento in particolare?

'''mat = [ [0, 1, 2, 3, 4]
        [5, 6, 7, 8, 9]
        [10, 11, 12, 13, 14]
        ]
'''
#Potrebbe rappresentare una ndarray oppure una Series; si potrebbe accedere ad un elemento in particolare
#attraverso l'indexing, sia in NumPy che in Pandas.

#ESERCIZIO2: importare il modulo math e provare le funzioni .sin(), .cos(), .factorial() e la variabile .pi

import math 

print(".sin():", math.sin(120))
print(".cos():", math.cos(360))
print(".factorial()", math.factorial(28))
print(".pi", math.pi)

.sin():  0.5806111842123143
.cos():  -0.2836910914865273
.factorial() 304888344611713860501504000000
.pi 3.141592653589793

-0.4480736161291701

In [ ]:
#ESERCIZIO3: provare ad eseguire math.degrees(math.pi), qual è e cosa significa il risultato?
#R: converte gli angoli in gradi
#per saperne di più si può usare help(math.degrees)

math.degrees(math.pi)
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [60]:
#ESERCIZIO4: l'azienda Object SpA ha creato uan lista di quanti oggetti ha venduto ogni mese nell'ultimo anno
'''lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]'''
#trasformala in un array NumPy (casting):
'''lst =np.array(lst)'''

#Rispondere alle domande:
#Qual è stata la vendita massima mensile? E quella minima? 
''' MAX: 8150 - MIN: 1280 '''

#Quali sono le vendite mensili maggiori di 5000 oggetti? E quante sono?
''' 5500 7200 6410 8150 7100 5350, sono 6 '''

#Quali sono le vendite minori di 3000 oggetti?
''' 2000 1280 1900 2500, sono 4 ''' 

#In media quanti oggetti sono stati venduti al mese?
''' 4634.16 '''


import numpy as np

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst =np.array(lst)
max_5000 = lst > 5000
dati_5000 = lst[max_5000]
min_3000 = lst < 3000

print("Vendita massima mensile:", lst.max())
print("Vendita minima mensile:", lst.min())
print("Vendite mensili maggiori di 5000:", lst[max_5000])
print("Numero di vendite maggiori di 5000:", len(dati_5000))
print("Vendite mensil minori di 3000:", lst[min_3000])
print("Media oggetti venduti:", lst.mean())

Vendita massima mensile: 8150
Vendita minima mensile: 1280
Vendite mensili maggiori di 5000: [5500 7200 6410 8150 7100 5350]
Numero di vendite maggiori di 5000: 6
Vendite mensil minori di 3000: [2000 1280 1900 2500]
Media oggetti venduti: 4634.166666666667

In [ ]:
#ESERCIZIO5: considerando il dizionario fatturati_dict e la Series fatturati_series, accendendo alle stesse informazioni nello stesso modo
#Qual è la differenza tra i due tipi di dato? Cosa si potrebbe fare con la Series che non si può fare con il dizionario?
''' il dizionario non supporta l'indexing, è una struttura non ordinata
    la series supporta l'indexing ed è una struttura ordinata '''

import pandas as pd

fatturati_dict = {1997: 12_000, 1998: 15_000, 
                  1999: 20_000, 2000: 23_000, 
                  2001: 25_000, 2002: 17_000, 
                  2003: 14_000, 2004: 21_000}

fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], 
                             index=range(1997, 2005))

print(fatturati_dict[1997])
print(fatturati_series[1997])

np.int64(12000)

In [61]:
#ESERCIZIO6: l'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray
#l'azienda chiede di raddoppiare tutti gli stipendi, tramite ciclo for e masking

stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )

for stipendio in stipendi:
    new_stipendio = stipendio * 2
    print(new_stipendio)

print(stipendi*2)

200
400
600
800
1000
1200
1400
1600
1800
2000
[ 200  400  600  800 1000 1200 1400 1600 1800 2000]

In [1]:
#ESERCIZIO7: scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi
#gestire il caso in cui una lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali

numeri = [3, 7, 1, 10, 15, 19, 8]

lunghezza_lista = len(numeri)

if lunghezza_lista <= 3:
    print("La lista è troppo corta per avere tre numeri più grandi.")
elif lunghezza_lista > 3: 
    numeri.sort(reverse=True)
    print(numeri[0:3])

[19, 15, 10]

In [ ]:
#ESERCIZIO8: scrivere un programma che:
#in input acquisisce una lista di numeri e un numero K
#in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K 
#se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato

In [ ]:
#ESERCIZIO9: scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica

numeri = [5, 2, 8, 3, 1, 7]

for numero in numeri:
    print(numero, "*" * numero)

5 *****
2 **
8 ********
3 ***
1 *
7 *******

In [9]:
#ESERCIZIO10: data una lista di codici fiscali, trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla
#inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome

lista_cf = ["ABCDEF95G01A123B", 
            "GHIJKL91M02A321C", 
            "MNOPQR89S03A456D", 
            "STUVWX95Z04A654E", 
            "XYZABC01D05A789F", 
            "DEFGHI95J06A987G"]

lista_cf_95 = []

for cf in lista_cf:
    if "95" in cf:
        lista_cf_95.append(cf)
        print(cf, "-", cf[:3], cf[3:6])

print(lista_cf_95)

ABCDEF95G01A123B - ABC DEF
STUVWX95Z04A654E - STU VWX
DEFGHI95J06A987G - DEF GHI
['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [3]:
#ESERCIZIO11: date tre liste della stessa lunghezza, ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente
#stampare a video tutti e soli gli studenti che frequentano una prima edizione, non tutti i dati potrebbero essere necessari

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]


lunghezza_dati = len(edizioni)
for contatore in range(lunghezza_dati):
    edizione = edizioni[contatore]
    if edizione == 1:
        print("Prima edizione:", studenti[contatore], "Corso:", corsi[contatore])

Prima edizione: Alex Corso: Cybersecurity
Prima edizione: Faith Corso: Backend

In [1]:
#ESERCIZIO12: data una lista di stringhe di prezzi in dollari, erroneamente sono stati scritti con il simbolo dell'euro
# cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista, il risultato sarà memorizzato in un'altra lista

prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
prezzi_agg = []

for prezzo in prezzi:
    prezzo_aggiustato = prezzo.replace("€", "$")
    prezzi_agg.append(prezzo_aggiustato)

print(prezzi_agg)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [ ]:
#ESERCIZIO13: data una lista di studenti, si vuole dividere gli studenti in due squadre per un campionato di Uno
#selezionare  i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra
#creare due liste per ogni squadra e visualizzarle

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [ ]:
#ESERCIZIO14: data una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre)
#si deve confrontare e, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti
#e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]